
/* Estilos de la página y estructura */
#reports-header {
    margin-top: 0;
}

#reports-header-container {
    background-color: var(--background-light) !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#reports-filter-container, #graphic-personal-container, #graphic-departament-container, #register-filter-container, .card, .table-responsive {
    background-color: var(--background-light) !important;
    border-radius: 1rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.graphic-report-container {
    position: relative;
    height: 300px;
    width: 100%;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }   
}

/* Estilos de cards */
.general-report-cant {
    font-size: 30px;
    font-weight: bold;
}

.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

@media (max-width: 770px) {
    .resume-card {
        font-size: 15px !important;
    }
}

/* Estilos de texto para la tabla */
th {
    color: var(--secondary) !important;
}

/* Estilos de texto para la tabla */
.ticket-date, .ticket-departament {
    font-size: 13px;
    color: var(--secondary) !important;
}

.ticket-status, .ticket-progress {
    padding: 5px 12px 5px 12px;
    border-radius: 50px;
    font-weight: bold;
    display: inline-block;
}

/* Estilos para impresión */
@media print {
    .container {
        margin: 0 !important;
        padding: 0 0 1.5rem 0 !important;
        width: 100% !important;
        max-width: 100% !important;
    }

    #register-container {
        width: 100% !important;
        padding: 0 !important;
        margin: 0 auto !important;
        font-size: 12px !important;
    }

    /* Asegurar que no se corten filas entre páginas */
    tr {
        page-break-inside: avoid !important;
    }
}
